*{
    padding: 0;
    margin: 0;
}

html{
    --colorPrimario:#d9c58c;
    --colorSecundario: #d67a5c;
    --colorTerciario: #33cca5;
    --colorCuaternario: #1f8aad;
    --colorQuintinario:#d92653; 

}

.navbar{
    height: 10vh;
}
.nav-icon{
    height: 10vh;
}

.container-main {
    background-color: var(--colorCuaternario);
    height: 80vh; /* Altura total de la sección */
}

.h-100 {
    height: 100%;
}

.img-container {
    height: 100%; /* Ahora sí se basa en el alto de la columna */
    display: flex;
    align-items: center;
}

.img-profile {
    max-height: 80%; /* Tu ajuste original */
    width: auto;
    object-fit: cover;
    max-width: 100%; /* Evita que se salga de la columna en pantallas chicas */
}

.container-tecnology{
    height: 10%;
}

.tecnology{
    height: 20px;
    width: auto;
    margin-bottom: 3%;
}

